*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    
}
h2, p{
    font-family: Outfit , sans-serif;
}

.container{
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    margin-left: 510px;
    border-radius: 10px;
    padding-bottom: 3%;
}
.container img{
    width: 328px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 7%;
    margin-left: 3%;
}
.container h2{
    color: hsl(218, 44%, 22%);
    width: 250px;
   margin-left: 14%;
   font-size: 1.3em;
   text-align: center;
   margin-bottom: 4%;
   font-weight: 700;
}
.container p{
    color: hsl(220, 15%, 55%);
    width: 240px;
    text-align: center;
    margin-left: 15%;
    font-weight: 300;
    
}

@media screen and (max-width: 650px) {
        .container {
          width: 100%;
          margin: auto;
        
        }
        .container img{
            width: 93%;
        }
      }

